doctype html
html(lang="en")
  head
    link(href="/assets/main.css" rel="stylesheet" type="text/css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title One Time Secret
  body.ots
    header.ots-header
      nav.ots-nav
        a.ots-a.ots-nav__brand(href="/") One Time Secret
        a.ots-a.ots-nav__about(href="/about") ?
    main.ots-content
      block content
