extends layouts/base

block content
  form.create-secret(method="post" action="/secrets")
    textarea.ots-textarea.create-secret__textarea(name="secret")
    .create-secret__parameters
      label
        .create-secret__field Expiration
        select.ots-select(name="expiration")
          option(value="60") 1 minute
          option(value="300") 5 minutes
          option(value="900") 15 minutes
          option(value="3600") 1 hour
          option(value="43200" selected) 12 hours
          option(value="86400") 1 day
          option(value="604800") 1 week
          option(value="2678400") 1 month
    button.create-secret__submit(type="submit") SEND
