extends layouts/base

block content
  p.view-secret-link__title Here is your secret link:
  input.view-secret-link__link(type="text" value="{{ .secretURL }}" readonly onfocus="event.target.select()")
