extends layouts/base

block content
  p.ots-view-secret-link__title Here is your secret link:
  input.ots-view-secret-link__link(type="text" aria-label="Secret URL" value="{{ .secretURL }}" readonly onfocus="event.target.select()")
