extends layouts/base

block content
  h1.ots-h1 About
  p.
    One Time Secret is an open-source web application for sharing secrets between people.

  h2.ots-h2 Features
  ul.ots-ul
    li share a secret that can be read only one time
    li secure with client-side encryption: the server has no idea what the secrets are
    li also works without JavaScript but then drops client-side encryption support
    li minimalist and beautiful design: no unnecessary features, no advertisement for third-party services or the product itself, no freemium
    li mobile-friendly

  h2.ots-h2 Source
  p.
    The source code is available freely at <a class="ots-a" href="https://gitlab.com/totakoko/onetimesecret">https://gitlab.com/totakoko/onetimesecret</a>.
    It is licensed under the <a class="ots-a" href="https://gitlab.com/totakoko/onetimesecret/blob/master/LICENSE.md">AGPL-3</a>.
