extends layouts/base

block content
  a.ots-a.ots-get-secret__link(href="{{ .secretViewURL }}") Click here to view the secret


block append scripts
  script.
    if (location.hash) {
      document.querySelector('.ots-get-secret__link').href += location.hash
    }
