extends layouts/base

block content
  p.ots-view-secret-link__title Here is your secret link:
  input.ots-view-secret-link__link(type="text" aria-label="Secret URL"
                                    value="{{ .secretURL }}"
                                    readonly
                                    onfocus="event.target.select()"
                                    )

block append scripts
  script.
    const lastEncryptionKey = localStorage.getItem('ots__lastSecretEncryptionKey')
    if (lastEncryptionKey) {
      const link = document.querySelector('input')
      link.value += `#${lastEncryptionKey}`
      localStorage.removeItem('ots__lastSecretEncryptionKey')
      // TODO add link to view secret
    }
