extends layouts/base

block content
  p.ots-view-secret__title This message is for you:
  textarea.ots-textarea.ots-view-secret__secret(readonly) {{ .secret }}

block append scripts
  script.
    // decrypt the secret if a hash is present in the URL
    if (location.hash) {
      console.log('decrypting secret...')
      const hash = location.hash.substr(1)
      const separatorPosition = hash.indexOf('/')
      const encryptionKey = hash.substr(0, separatorPosition)
      const initVector = hash.substr(separatorPosition + 1)
      const textarea = document.querySelector('textarea')
      const cipher = textarea.value

      // hide the encrypted value
      textarea.value = ''
      ;(async () => {
        try {
          const encryption = await new Encryption().init(base64urlToArray(encryptionKey), base64urlToArray(initVector))
          textarea.value = await encryption.decrypt(base64urlToArray(cipher))
        } catch (err) {
          textarea.value = 'Invalid encryption key'
        }
      })()
    }
