//
// variables
//

$pageWidth = 720px
$navBackgroundColor = #3e608e
$elementsPadding = 0.5em


//
// small reset
//

*
  box-sizing border-box
  padding 0
  margin 0

  &:focus
    outline 0

button
  color inherit

input
textarea
select
button
  font-size inherit
  font-family inherit


//
// basic html elements
//

transition()
  transition background-color 100ms linear

html
body
  // make flexbox use all vertical space
  height 100%

.ots
  &-select
    transition()
    padding $elementsPadding
    border 1px solid rgb(169, 169, 169)
    background-color lighten($navBackgroundColor, 95%)
    cursor pointer
    -moz-appearance none

    &:hover
    &:focus
      background-color darken(@background-color, 5%)

  &-a
    transition()
    color inherit
    text-decoration none
    padding 4px
    border-radius 4px

    &:hover
    &:focus
      background-color rgba(209,209,240,0.2)

  &-textarea
    transition()
    padding $elementsPadding
    border-radius 4px
    background-color lighten($navBackgroundColor, 95%)
    border 2px solid darken(@background-color, 20%)

    &:hover
    &:focus
      background-color darken(@background-color, 5%)

  &-h1
    margin-bottom 0.5em

  &-h2
    margin-top 1em
    margin-bottom 0.5em

  &-ul
    padding-left 2em


//
// general layout
//

.ots
  display flex
  flex-direction column
  justify-content stretch
  // looted from GitLab to have nice fonts (https://gitlab.com/gitlab-org/gitlab-ce/blob/3cd61fea03b360af50793488a83e8147a1cf3311/app/assets/stylesheets/framework/variables.scss#L376-377)
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

  &-header
    background-color $navBackgroundColor

  &-nav
    max-width $pageWidth
    margin 0 auto
    display flex
    justify-content space-between
    align-items stretch
    color #eeeeee

    &__brand
      font-size 2em

    &__about
      border none
      width 2em
      background none
      text-align center
      font-size 1.8em

  &-content
    flex 1
    margin 0 auto
    margin-top 1em
    width 100%
    max-width $pageWidth
    display flex
    flex-direction column


.ots-create-secret
  flex 1
  display flex
  flex-direction column

  &__textarea
    flex 1
    min-height 80px
    max-height 400px
    resize none

  &__parameters
    padding-top 1em
    padding-bottom 1em
    font-size 1.4em

  &__field
    display inline-block
    margin-right 1em

  &__submit
    transition()
    padding $elementsPadding
    font-size 2em
    border 0
    border-radius 4px
    background-color lighten($navBackgroundColor, 30%)
    cursor pointer

    &:hover
    &:focus
      background-color darken(@background-color, 20%)
    &:active
      background-color darken(@background-color, 40%)


.ots-view-secret-link
  display flex
  flex-direction column

  &__title
    margin-bottom 1em
    text-align center
    font-size 1.4em

  &__link
    padding $elementsPadding
    text-align center
    font-size 1.2em


.ots-get-secret
  &__link
    text-align center


.ots-view-secret
  &__title
    text-align center
    font-size 1.4em
    margin-bottom 1em

  &__secret
    flex 1
    max-height 70vh
    resize none

.ots-error
  color #dc3636

.ots-offline
  font-size 1.5em
  padding 0.5em
  padding-top 0
